.Board {
  text-align: center;
}

.input-box {
  /* родительский блок относительно которого будем формировать положение
  тега label */
  position: relative;
}


input {
  background: #fff;
  padding: 10px;
  /* закруглим края у поля ввода */
  border-radius: 11px;
  width: 250px;
  height: 60px;
}

.settingProject {
  background-color:#535353;
  width: 250px;
  height: 60px;
  border-radius: 11px;
  padding: 10px;
  cursor: pointer;
  border: 2px solid #5f5f68;
  color: #fff;
}

.deleteProject {
  background-color:#f15454;
  width: 250px;
  height: 60px;
  border-radius: 11px;
  padding: 10px;
  font-size: 14pt;
  cursor: pointer;
  color: #020202;
  box-shadow: 0px 0px 5px 2px rgba(82, 77, 78, 0.5) inset;
}

.deleteProject:hover {
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 0px 15px 5px rgba(82, 77, 78, 0.5) inset;
}

label {
  position: absolute;
  /* смещение относительно родительского элемента 10px вверх от верхнего края и   10px влево */
  top: -10px;
  left: 10px;
  background: #cef5c4;
  border-radius: 7px;
  border: 1px solid rgba(5, 5, 5, 0.3);
  padding: 0 5px;
}

.whiteText {
  color: #fff;
  text-decoration: none;
}

.whiteText:hover {
  color: #b8b7b0;
}

.block1 {
  height: 100vh;
  min-width: 15vw;
  max-width: 15vw;
  float: left;
}

.block2 {
  height: 100vh;
  min-width: 85vw;
  max-width: 85vw;
  float: left;
}

.block3 {
  height: 100vh;
  float: left;
  background-color: aqua;
}

.topTitle {
  height: 4vh;
  background-color: #212529;
}

.TwitterColor {
  margin-left: 20px;
  margin-top: 0px;
}

.modalDelete {
  width: 700px;
  height: 400px;
  background-color: rgb(255, 186, 177);
  margin: 400px auto auto auto;
  border-radius: 40px;
  text-align: center;
}

.modalDelete:hover {
transition: box-shadow 0.3s ease;
box-shadow: 0px 0px 30px 5px rgba(82, 77, 78, 0.5) inset;
}

.modalAdd {
  width: 700px;
  height: 400px;
  background-color: rgb(166, 221, 159);
  margin: 400px auto auto auto;
  border-radius: 40px;
  text-align: center;
}

.modalUserCard {
  width: 900px;
  height: 400px;
  margin: 400px auto auto auto;
  border-radius: 40px;
}

.modalAdd:hover {
transition: box-shadow 0.3s ease;
box-shadow: 0px 0px 30px 5px rgba(82, 77, 78, 0.5) inset;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.nav-link {
  color: #ffffff;
}
.nav-link:hover {
  color: rgb(182, 182, 182);
}

.customBtnClose {
  margin-left:10px;
  background-color: #0d6efd;
  color: white;
  padding: 10px 15px;
  border: none;
  font-size: 18pt;
  border-radius: 10px;
  cursor: pointer;
}
.customBtnClose:hover {
  transition: box-shadow 0.3s ease;
  background-color: #0d6efd;
  box-shadow: 0px 0px 30px 5px rgba(82, 77, 78, 0.5) inset;
}
.customBtnClose:active {
  transform: translateY(1px);
  transition: box-shadow 0.3s ease;
  background-color: #0d6efd !important;
  box-shadow: 0px 0px 30px 5px rgba(82, 77, 78, 0.5) inset;
}

.customBtnDelete {
  margin-left:10px;
  background-color: red;
  color: white;
  padding: 10px 15px;
  border: none;
  font-size: 18pt;
  border-radius: 10px;
  cursor: pointer;
}
.customBtnDelete:hover {
  background-color: red;
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 0px 30px 5px rgba(82, 77, 78, 0.5) inset;
}
.customBtnDelete:active {
  transform: translateY(1px);
  background-color: red !important;
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 0px 30px 5px rgba(82, 77, 78, 0.5) inset;
}

.customBtnAdd {
  margin-left:10px;
  background-color: #008000;
  color: white;
  padding: 10px 15px;
  border: none;
  font-size: 18pt;
  border-radius: 10px;
  cursor: pointer;
}
.customBtnAdd:hover {
  background-color: #008000;
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 0px 30px 5px rgba(82, 77, 78, 0.5) inset;
}
.customBtnAdd:active {
  transform: translateY(1px);
  background-color: #008000 !important;
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 0px 30px 5px rgba(82, 77, 78, 0.5) inset;
}

.mt-n8 {
  margin-top:-3.5rem!important;
}

.customCircleLeft  {
  min-height: 32px;
  min-width: 24px;
  float: left;
  margin-left: 5px;
}

.customCircleRight  {
  min-height: 32px;
  min-width: 24px;
  float: right;
}